body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #091625;
    color: aliceblue;
}

ul.navbar {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 1180px;
    font-size: larger;
    
    /* Para remover qualquer preenchimento padrão da lista */
}

ul.navbar li {
    display: inline;
    margin-right: 10px;
    
    
    
    /* Para exibir os itens da lista na mesma linha */
}

ul.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    /* Adapte o preenchimento conforme necessário */
    
}

ul.navbar a:hover {
    border-bottom: none;
    background-color: rgb(97, 77, 194);
    border-radius: 50px;
    /* Adicione um destaque visual ao passar o mouse */
}








footer{
    background: rgb(97, 77, 194);
        width: 100%;
        height: 57px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        color: aliceblue;
}